### 고파스 실시간 검색어 크롤링

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import csv

In [69]:
html = urlopen('https://www.koreapas.com/bbs/main.php')
gopas = BeautifulSoup(html,'html.parser')
ranking_list = []
search_list = []
for ranking, search in zip(gopas.find_all('span',{'class':'number'}),gopas.find_all('span',{'style':'padding-left:2px;font-size:13px;color:#4a4a4a;'})):
    ranking_list.append(ranking.get_text())
    search_list.append(search.get_text())

for i, j in zip(ranking_list, search_list):
    print('검색어 목록\n',i,'. ',j)

검색어 목록
 1 .  여성상위
검색어 목록
 2 .  개운사예수
검색어 목록
 3 .  07입실렌티
검색어 목록
 4 .  중도
검색어 목록
 5 .  한추사건
검색어 목록
 6 .  심녀
검색어 목록
 7 .  백기
검색어 목록
 8 .  한추
검색어 목록
 9 .  중앙도서관
검색어 목록
 10 .  텝스

In [72]:
import csv
# Create a file to write to, add headers row
data = {'ranking': ranking_list, 'search': search_list}
with open('crawling.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [76]:
import pandas as pd
data = {'ranking': ranking_list, 'search': search_list}
pd.DataFrame(data, index = None)

  ranking  search
0       1    여성상위
1       2   개운사예수
2       3  07입실렌티
3       4      중도
4       5    한추사건
5       6      심녀
6       7      백기
7       8      한추
8       9   중앙도서관
9      10      텝스